@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9rqeap');
  src:  url('fonts/icomoon.eot?9rqeap#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9rqeap') format('truetype'),
    url('fonts/icomoon.woff?9rqeap') format('woff'),
    url('fonts/icomoon.svg?9rqeap#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-cosmetic:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-mail:before {
  content: "\e905";
}
.icon-map-pin:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-trim:before {
  content: "\e908";
}
.icon-whatsapp:before {
  content: "\e909";
}
.icon-woman-hair:before {
  content: "\e90a";
}
.icon-youtube:before {
  content: "\e90b";
}
.icon-quill:before {
  content: "\e90c";
}
.icon-pen:before {
  content: "\e90d";
}
.icon-blog:before {
  content: "\e90e";
}
.icon-eyedropper:before {
  content: "\e90f";
}
.icon-droplet:before {
  content: "\e910";
}
.icon-paint-format:before {
  content: "\e911";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-dice:before {
  content: "\e915";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-spades:before {
  content: "\e917";
}
.icon-clubs:before {
  content: "\e918";
}
.icon-diamonds:before {
  content: "\e919";
}
.icon-library:before {
  content: "\e921";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-profile:before {
  content: "\e923";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-folder-download:before {
  content: "\e933";
}
